<template>
  <main>
    <h1>{{ title }}</h1>
    <ListProfile />
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ListProfile from '../components/Profiles.vue';

export default defineComponent({
  components: {
    ListProfile
  },
  data() {
    return {
      title: "List user"
    }
  }
});
</script>
