<template>
  <div class="login">
    <div class="w-50 mx-auto">
      <h2>{{ title }}</h2>
      <div :class="alertStatus ? 'alert ' + alertStatus : ''" role="alert" v-if="errorMessage" v-for="message in errorMessage" :key="id">
        {{ message[0] }}
      </div>
      <div class="card p-5">
        <div class="row">
          <div class="col-4">
            <b-img center :src="profilePath ? url_api + profilePath : '/src/assets/default-profile.png'" alt="Center image"></b-img>
          </div>
          <div class="col-8">
            <b-form @submit.prevent="handleSubmit">

              <b-form-group label="Name:" label-for="name" >
                <b-form-input id="name" v-model="name" type="text" placeholder="Enter name" required ></b-form-input>
              </b-form-group>

              <b-form-group label="Email address:" label-for="email">
                <b-form-input id="email" v-model="email" type="email" placeholder="Enter email" ></b-form-input>
              </b-form-group>

              <b-form-group label="Password:" label-for="password" >
                <b-form-input id="password" v-model="password" type="password" placeholder="Enter password"  ></b-form-input>
              </b-form-group>

              <b-form-group label="Password Confirmation:" label-for="password_confirmation" >
                <b-form-input id="password_confirmation" v-model="password_confirmation" type="password" placeholder="Enter password confirm" ></b-form-input>
              </b-form-group>

              <div class="input-group mb-3">
                <input class="form-control" type="file" ref="image" v-on:change="handleFileUpload()">
              </div>

              <b-button type="submit" variant="primary">Update</b-button>

            </b-form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useUserStore } from '../../../stores/user'
import { apiProfile } from '../api/profile';
import router from '@/router'

export default defineComponent({
  data() {
    return {
      title: "Profile edit",
      name:'',
      email:'',
      password:'',
      password_confirmation:'',
      image:'',
      profilePath: '',
      errorMessage:{},
      alertStatus: ''
    }
  },
  mounted() {
    this.profile()
  },
  methods: {
    handleFileUpload(){
      this.image = this.$refs.image.files[0];
    },
    async handleSubmit() {
      const userStore = useUserStore();
      const formData = new FormData();
      
      formData.append('name', this.name);
      formData.append('email', this.email);
      formData.append('id', userStore.userData.id);

      if ( this.password.length !== 0) {
        formData.append('password', this.password);
        formData.append('password_confirmation', this.password_confirmation);
      }
      
      if( this.image.length !== 0 ) {
        formData.append('image', this.image);
      }
      
      apiProfile.updateProfile( formData ).then(response => {
        
        if( response.data ) {
          
          // Store the user data in the user module
          const userStore = useUserStore();
          userStore.updateProfile(response.data)
          router.push('/profile')
          this.profile()
          this.errorMessage = { 'status': { 0:'Update successful'}}
          this.alertStatus = 'alert-success'
          this.removeElement()
        }
        
      }).catch(error => {
          // Handle any errors
          this.alertStatus = 'alert-danger'
          this.errorMessage = error.response.data.errors
          this.removeElement()
      });

      this.reset()
    },
    profile() {
      const userStore = useUserStore();
      this.name = userStore.userData.name
      this.email = userStore.userData.email
      this.profilePath = userStore.userData.profilePath
    },
    reset() {
      this.password = ''
      this.password_confirmation = ''
      this.image = ''
    },
    removeElement() {
      setTimeout(() => {
        this.errorMessage = {}
      }, 5000); // 5 seconds delay
    }
  }
});
</script>
