<template>
  <nav v-if="/\/register/.test($route.path) || /\/login/.test($route.path)">
    <div class="wrapper">
      <b-navbar toggleable="lg" type="dark" variant="info" menu-class="container">
        <b-navbar-brand href="/profiles">Program test</b-navbar-brand>
        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ms-auto">
            <b-navbar-nav>
            <b-nav-item href="/register">Register</b-nav-item>
            <b-nav-item href="/login" >Login</b-nav-item>
          </b-navbar-nav>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
  </nav>
  <!-- <nav class="navigation" v-if="/\/register/.test($route.path) || /\/login/.test($route.path)">
    <div class="wrapper " >
      <div class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="@/assets/logo.svg"  alt="" width="30" height="24" class="d-inline-block align-text-top">
            Nexgen
          </a>
          
          <RouterLink to="/register">Register</RouterLink>
          <RouterLink to="/login">Login</RouterLink>
        </div>
      </div>
    </div>
  </nav> -->
</template>

<script lang="ts">
// import { defineComponent } from 'vue';
// import { useStore } from './store';
// import { actions } from './actions';
import { useRoute } from 'vue-router'

export default {
  // setup() {
  //   const route = useRoute()
  //   const showComponent = true;
  //   console.log(/\/register$/.test(route.path))
  //   console.log(this.$route.path)
  //   if (/\/register/.test(route.path)) {
  //     console.log('Current path is a user route');
  //   }
  //   if (/\/login/.test(route.path)) {
  //     console.log('Current path is a user route');
  //   } 
  //   return { showComponent }
  // },
  // data() {
  //   return {
  //     showComponent: false
  //   }
  // }
}
</script>