<template>
  <nav v-if="/\/profiles/.test($route.path) || /\/profile/.test($route.path) || $route.path === '/'">
    <div class="wrapper containner">
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="/profiles">Program test</b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
  

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ms-auto" id="nav">
          
            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template #button-content >
                <img :src=" user.profilePath ? url_api + user.profilePath : '/src/assets/default-profile.png'" class="image-profile" alt="Profile">
                <span>{{ user.name }}</span>
              </template>
              <b-dropdown-item href="/profile">Profile</b-dropdown-item>
              <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
  </nav>
</template>

<script lang="ts">
import { useUserStore } from '../../stores/user';
import router from '@/router'

export default {
  data() {
    return {
      baseUrl: ""
    }
  },
  computed: {
    user() {
      const userStore = useUserStore();
      return userStore.userData;
    },
  },
  methods: {
    logout() {
      const userStore = useUserStore();
      userStore.logout();
      router.push('/login')
    },
  },
};

</script>