<template>
  <div class="row">

    <div class="col-4" v-for="item in listItems" :key="item.id">

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img :src=" item.profilePath ? url_api + item.profilePath : noImage" class="img-fluid rounded-start" alt="Profile image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Profile</h5>
                <div class="attribute"> <b>Name:</b> {{ item.name }}</div>
                <div class="attribute"> <b>Email:</b> {{ item.email }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { apiDashboard } from '../api/dashboard';

export default {
    data() {
      return {
        listItems: [],
        noImage: '/src/modules/dashboard/assets/images/no_image.jpg'
      }
    },

    methods: {
      fetchProfiles() {
        apiDashboard.getProfiles().then(profiles => {
          this.listItems = profiles.data
        })
      }
    },
    mounted() {
      this.fetchProfiles()
    }
  }
</script>

