<template>
  <div v-for="item in cart.item" :key="item.name">
    <div> {{ item }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from './store';
import { actions } from './actions';

export default defineComponent({
  setup() {
    const store = useStore();
    actions.fetchData();

    return {
      data: store.data,
    };
  },
});
</script>