// out: main.css, compress: true;

img {
  height: 100%;
}

.login {
  img {
    width: 100%;
    height: auto;
  }
}
// .card-user {
//   display: flex;
//   border: 1px black solid;
//   border-radius: 6px;
//   padding: 15px;
//   height: 100%;
//   .image-profile {
//     width: 500px;
    
//   }
//   .detail {
//     margin-left: 15px;
//     .attribute {
//       font-weight: bold;
//     }
//   }
// }

#nav {
  .btn-content {
    .image-profile {
      width:40px;
      margin-right: 10px;;
    }
  }
}