<script setup lang="ts">

</script>

<template>
  <div class="bg-white h-100">
    <Profile />
    <Main />
    <div class="container mt-5">
      <div class="">
        <RouterView />
      </div>
      
    </div>
  </div>
</template>


<script lang="ts">

import Main from './components/Navigations/Main.vue';
import Profile from './components/Navigations/Profile.vue';

export default {
  components: {
    Main,
    Profile
  },
  data() {
    return {
      userId: this.$route.params.id,
      user: []
    }
  }
}
</script>
