<template>
  <div class="login">
    <div class="w-50 mx-auto">
      <h2>Login</h2>
      <div class="alert alert-danger" role="alert" v-if="errorMessage" v-for="message in errorMessage" :key="id">
        {{ message[0] }}
      </div>
      <div class="card p-5">
        <b-form @submit.prevent="handleSubmit">

          <b-form-group label="Email address:" label-for="email">
            <b-form-input id="email" v-model="email" type="email" placeholder="Enter email" required></b-form-input>
          </b-form-group>

          <b-form-group label="Password:" label-for="password" >
            <b-form-input id="password" v-model="password" type="password" placeholder="Enter password" required ></b-form-input>
          </b-form-group>

          <b-button type="submit" variant="primary">Login</b-button>
          
        </b-form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { apiAuth } from '../api/auth';
import { useUserStore } from '../../../stores/user';
import router from '@/router'

export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
      errorMessage: {}
    }
  },
  // methods: {
  //   handleSubmit() {
  //     // Make API request to login
  //     // For example, using Axios library
  //     axios.post('/api/login', {
  //       email: this.email,
  //       password: this.password
  //     })
  //     .then(response => {
  //       // Handle successful login
  //       console.log(response.data)
  //     })
  //     .catch(error => {
  //       // Handle error
  //       console.error(error)
  //     })
  //   }
  // }
  methods: {
    async handleSubmit() {
      apiAuth.login(this.email,this.password).then(data => {

        if( data.access_token ) {
          // Store the user data in the user module
          const userStore = useUserStore();
          userStore.login(data);
          router.push('/profiles')
        }
        
      }).catch(error => {
          // Handle any errors
          this.errorMessage = error.response.data.errors
      });
    }
  },
}
</script>

<!-- eve.holt@reqres.in -->
<!-- cityslicka -->../../../stores/user