<template>

    
    <div class="card p-5">
      <h2>Register</h2>
      <div class="alert alert-danger" role="alert" v-if="errorMessage" v-for="message in errorMessage" :key="id">
        {{ message[0] }}
      </div>
      <b-form @submit.prevent="handleSubmit">

        <b-form-group label="Name:" label-for="name" >
          <b-form-input id="name" v-model="name" type="text" placeholder="Enter name" required ></b-form-input>
        </b-form-group>

        <b-form-group label="Email address:" label-for="email">
          <b-form-input id="email" v-model="email" type="email" placeholder="Enter email" required></b-form-input>
        </b-form-group>

        <b-form-group label="Password:" label-for="password" >
          <b-form-input id="password" v-model="password" type="password" placeholder="Enter password" required ></b-form-input>
        </b-form-group>

        <b-form-group label="Password Confirmation:" label-for="password_confirmation" >
          <b-form-input id="password_confirmation" v-model="password_confirmation" type="password" placeholder="Enter password confirm" required ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">register</b-button>

      </b-form>

    </div>
</template>

<script lang="ts">
import { apiAuth } from '../api/auth';
import router from '@/router'

export default {
  name: 'Register',
  data() {
    return {
      name:'',
      email:'',
      password:'',
      password_confirmation:'',
      errorMessage:{}
    }
  },
  methods: {
    async handleSubmit() {
      const formData = new FormData();
      formData.append('name', this.name);
      formData.append('email', this.email);
      formData.append('password', this.password);
      formData.append('password_confirmation', this.password_confirmation);

      apiAuth.register( formData ).then(data => {
        
        if( data.status == 'success' ) {
          router.push('/login')
        }
        
      }).catch(error => {
          // Handle any errors
          this.errorMessage = error.response.data.errors
      });
    }
  },
}
</script>

<!-- eve.holt@reqres.in -->
<!-- cityslicka -->